<%- include('header'); %>
<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li>Change password</li>
</ul>
<h1>Change password</h1>
<p>Signed in as <span id="username"></span></p>
<p id="error"></p>
<form action="/change-password" method="POST">
  <div id="login-form">
    <label for="change-password-current">Current password</label>
    <input id="change-password-current" name="currentPassword" type="password" autocomplete="current-password">
    <label for="change-password-new1">New password</label>
    <input id="change-password-new1" name="newPassword1" type="password" autocomplete="new-password">
    <label for="change-password-new2">Retype new password</label>
    <input id="change-password-new2" name="newPassword2" type="password" autocomplete="new-password">
  </div>
  <p><button type="submit">Change password</button></p>
</form>
<script type="module" src="/assets/user-info.js"></script>
<%- include('footer'); %>
