<%- include('header'); %>
<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li>Email</li>
  <li>Email aliases</li>
</ul>
<h1>Email aliases</h1>
<p>Signed in as <span id="username"></span></p>
<p id="error"></p>
<div id="aliases"></div>
<h2>Add alias</h2>
<p>Name: <input id="add_alias_name" type="text"> <button id="add_alias_button">Add</button></p>
<script type="module" src="/assets/user-info.js"></script>
<script type="module" src="/assets/email-aliases.js"></script>
<%- include('footer'); %>
