<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/assets/main.css">
  </head>
  <body>
    <div id="top-bar">
      <h2>Menhera.org Accounts</h2>
      <% if (typeof username != 'undefined' && username) { %>
      <div id="top-bar-account"><%= username %></div>
      <div id="top-bar-account-actions">
        <a href="/logout">Log out</a>
      </div>
      <% } %>
    </div>
