<%- include('header'); %>
<h1>Log in to <%= clientId %></h1>
<p id="error"></p>
<form id="consent_form" action="/interaction/<%= uid %>/confirm" method="POST">
  <p><button type="submit">Continue</button></p>
</form>
<%- include('footer'); %>
