<div id="login-form">
  <label for="login-form-username">Username</label>
  <input id="login-form-username" name="username" type="text">
  <label for="login-form-password1">Password</label>
  <input id="login-form-password1" name="password1" type="password">
  <label for="login-form-password2">Password</label>
  <input id="login-form-password2" name="password2" type="password">
</div>
