<div id="login-form">
  <label for="login-form-username">Username</label>
  <input id="login-form-username" name="username" type="text">
  <label for="login-form-password">Password</label>
  <input id="login-form-password" name="password" type="password">
</div>
