
:root {
  background-color: #eee;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #333;
}

main#main {
  margin: 1em auto;
  max-width: 32em;
  background-color: #fff;
  padding: 1em;
  box-sizing: border-box;
}

button, input, select {
  font: inherit;
}

a {
  text-decoration: none;
}

a:is(:hover, :active) {
  text-decoration: underline;
}

:is(#system-error, #system-message):empty {
  display: none;
}

:is(#system-error, #system-message) {
  border: solid 1px #ccc;
  padding: .5em 1em;
  margin: .5em 0;
}

#system-error {
  background-color: #fdd;
  color: #c00;
  border-color: #c00;
}

#system-message {
  background-color: #bfe;
  color: #333;
  border-color: #068;
}

#error {
  color: red;
}

#aliases > div {
  padding: .5em;
}

#aliases > div:not(:first-child) {
  border-block-start: 1px solid #ccc;
}

body:not(.admin) .list-user-remove-button {
  display: none;
}

button[type="submit"] {
  display: block;
  margin: 0;
  appearance: none;
  background-color: #26708e;
  color: #fff;
  border: none;
  border-radius: .25em;
  padding: .5em 1em;
}

button[type="submit"]:hover {
  background-color: #2d81a3;
}

button[type="submit"]:active {
  background-color: #195168;
}

#login-form {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: .5em;
  row-gap: .5em;
}

#login-form input:is([type="text"], [type="password"]) {
  min-inline-size: 0;
  inline-size: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: .25em .5em;
  appearance: none;
}

:is(#add-member, #create-list){
  display: none;
}

body.admin :is(#add-member, #create-list){
  display: unset;
}

#top-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #537148;
  color: #fff;
  align-items: center;
  padding: .5em 1em;
  column-gap: 1em;
}

#top-bar > h2 {
  margin: 0;
  padding: 0;
  flex: 1;
  font-size: 100%;
  font-weight: normal;
}

#top-bar a {
  color: inherit !important;
}

#top-bar-account::before {
  content: '';
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-inline-end: 1em;
  background-color: #fff;
  mask: url(/assets/avatar.svg) no-repeat center / contain;
  vertical-align: middle;
}

ul.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  align-items: center;
  min-width: 0;
  width: 100%;
  border-block-end: solid 1px #ccc;
  padding-block-end: .5em;
  margin-block-end: 1em;
}

ul.breadcrumbs > li {
  margin: 0;
  padding: 0;
}

ul.breadcrumbs > li:not(:last-child)::after {
  content: '>';
  margin-inline-start: .5em;
  margin-inline-end: .5em;
}

button:disabled {
  opacity: .5;
}
